body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
nav > ul {
  background: #0a0d4e;
  display: flex;
  margin: 0;
}
nav li {
  list-style-type: none;
  margin: 0 0 0 20px;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
nav li:hover {
  background-color: #070939;
}
nav li a {
  text-decoration: none;
  color: #ffffff;
}
nav > ul > li:hover > ul {
  /* > = immediate child */
  display: block;
}
.dropdown-menu-items {
  display: none;
  position: absolute;
  background-color: #0a0d4e;
  padding: 0;
  margin: 0;
}
.intro-area {
  width: 100%;
  height: 100vh;
  background: #070939;
}
.intro-items {
  display: flex;
}
.left-intro-item {
  margin: 120px 50px 0 40px;
}
.right-intro-item {
  margin: 120px 80px 0 0;
}
img.depression {
  position: absolute;
  right: 18%;
  bottom: 14%;
  width: 30%;
}
img.depression-bg {
  width: 98vh;
}
.left-intro-item h2 {
  font-size: 100px;
  font-weight: 400;
  font-style: normal;
  line-height: 117.19px;
  color: #ffffff;
  margin: 0;
}
.left-intro-item p {
  font-size: 27px;
  font-weight: 400;
  font-style: normal;
  line-height: 175%;
  color: #ffffff;
}
